<ion-header>
    <ion-navbar color="primary">
      <button  ion-button  menuToggle>
        <ion-icon name="menu"></ion-icon>        
      </button>
      <ion-title>Elite Scheudle</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">
      <ion-title>My teams!</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-card *ngIf="!favorites">
      <ion-card-header>

      </ion-card-header>
      <ion-card-content>
          <p>Your are currently following any teams.</p>
          <p>First select a torunament, then you can follow teams from their team page.</p>
      </ion-card-content>
      <button full ion-button (click)="gotToTorunament()">       
          <ion-icon name="search"></ion-icon>
          Find a tournament
      </button>
    </ion-card>

    <ion-card *ngIf="favorites">
        <ion-list>
          <button ion-item *ngFor="let item of favorites" (click)="favoriteTapped($event, item)">
            <ion-icon name="star"></ion-icon>
            {{item.team.name}}
            <p>{{item.tournamentName}}</p>
          </button>
        </ion-list>
      <ion-card-content>
        <p>To follow more teams, select a tournament, then you can follow teams from their team page.</p>
          
         <!-- https://ionicframework.com/docs/api/components/button/Button/ -->
        <button full ion-button (click)="gotToTorunament()">       
            <ion-icon name="search"></ion-icon>
            Find a tournament
        </button>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
  